.app__footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center; // ✨ Centering the entire container on mobile
  }
}

.app__footer-left {
  flex: 1;
  min-width: 300px;
  @media screen and (max-width: 900px) {
    text-align: center; // ✨ Centering text within the left section
  }
}

.app__footer-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    width: 700px;
    height: auto;
    object-fit: contain;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}

.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__footer-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;

  .app__footer-card {
    flex: 1;
    min-width: 250px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      color: #000;
    }

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 600px) {
      min-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.app__footer-cards .app__footer-card:last-child {
  background-color: #f2f7fb;
}

.app__footer-cards .app__footer-card:last-child:hover {
  box-shadow: 0 0 25px #f2f7fb;
}

.app__footer-form {
  width: 100%;
  flex-direction: column;
  margin: 2rem 0;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    background-color: var(--primary-color);

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
      background-color: var(--primary-color);

      font-family: var(--font-base);
      color: var(--secondary-color);
      outline: none;
    }

    textarea {
      height: 170px;
    }

    &:hover {
      box-shadow: 0 0 25px var(--primary-color);
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #a47cf3;

    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    outline: none;
    margin-top: 1rem;
    font-family: var(--font-base);

    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #8439f7;
      transform: scale(1.05);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
}